# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# SQLite DB
*.db

# Output files
/output/
